.chat {
    border-radius: 6px;
    padding: 2px;

    background-color: #31163D;
}

.chat-title {
    height: 8%;

    color: white;
}

.chat-view {
    height: 82%;

    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.chat-typing {
    width: 75%;
    height: 10%;
    border-radius: 6px;
    border: 0px;
    outline: 0px;

    display: flex;
    margin: 0 auto;
    padding: 1.85% 0.85% 0% 0.85%;

    overflow-y: scroll;
    overflow-wrap: break-word;
    resize: none;

    background-color: #484848;
    color: white;
}

.chat-message {
    max-width: 80%;

    float: left;
    clear: both;

    margin: 1.25% 0.85% 1.25% 0.85%;
    padding: 0.85% 0.85% 0.85% 0.85%;

    background-color: #453F48;
    border-radius: 10px;
}

.chat-message.own {
    float: right;
    background-color: #147725;
}

.chat-message.system {
    background-color: #993F48;
}

.chat-message > span, a {
    color: #DDDDDD;
    margin: 2px;
    white-space: pre-line;

    font-size: 16px;
    text-align: left;
}

.chat-message > a {
    text-decoration: none;
}

.chat-message > .time {
    font-size: 13.75px;
    color: #ccc;
    margin-left: 3px;
    margin-top: 8px;
    float: right;
}

.chat-message > .sender {
    display: flex;
    font-size: 14px;
}

.chat-message.guess > .sender {
    color: orangered;
}

.chat-message.user > .sender {
    color: lightblue;
}

.chat-message.system > .sender {
    color: orange;
}

.visible-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    overflow-y: scroll;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
    background: #aaa;
}
